import { mount } from 'enzyme';
import Counter from '../Counter';

describe('Counter', () => {
  it('updates the counter state when incremented', () => {
    const wrapper = mount(<Counter/>);

    wrapper.find('button[data-testid="increment"]').simulate('click');
    expect(wrapper.state().clicks).toBe(1);
  });

  it('increments the counter', () => {
    const wrapper = mount(<Counter/>);

    wrapper.find('button[data-testid="increment"]').simulate('click');
    expect(wrapper.find('[data-testid="count"]').text()).toBe("1");
  });
})
